@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
}
body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
  }
  
  body::-webkit-scrollbar-thumb {
    background: transparent; /* opacity: 0; should do the thing either */
    box-shadow: 0px 0px 0px 100000vh black;
  }

  :root{
    --main-circle-size: 12px;
    --second-circle-size: 40px;
  }
  
  .circle-main{
    position: absolute;
    width: var(--main-circle-size);
    height: var(--main-circle-size);
    margin-top: calc(-1 * var(--main-circle-size) / 2);
    margin-left: calc(-1 * var(--main-circle-size) / 2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: white;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity .3s;
    mix-blend-mode: difference;
    z-index: 2;
  }
  
  .circle-hide{
    opacity: 0;
  }
  
  .second-circle{
    position: absolute;
    transition: transform .15s, width .3s, height .3s, margin .3s;
    width: var(--second-circle-size);
    height: var(--second-circle-size);
    top: 0;
    left: 0;
    margin-top: calc(-1 * var(--second-circle-size) / 2);
    margin-left: calc(-1 * var(--second-circle-size) / 2);
    background: white;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 2;
  }
  
  .circle-scale{
    width: calc(var(--second-circle-size) * 2);
    height: calc(var(--second-circle-size) * 2);
    margin-top: calc(-1 * var(--second-circle-size));
    margin-left: calc(-1 * var(--second-circle-size));
  }
  